@font-face {
	font-family: SFPRODISPLAY;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/SFPRODISPLAYBOLD.OTF');
}
@font-face {
	font-family: SFPRODISPLAY;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF');
}
@font-face {
	font-family: SFPRODISPLAY;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/SFPRODISPLAYREGULAR.OTF');
}
@font-face {
	font-family: SFPRODISPLAY;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/SFPRODISPLAYTHINITALIC.OTF');
}
@font-face {
	font-family: SFPRODISPLAY;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/SFPRODISPLAYMEDIUM.OTF');
}

