@import 'font';
@import 'utilities';
@import 'variables';
@import 'function';

.main{
    height: auto;
    background-color: $main-color;
    header{
        height: 50px;
        menu{
            font-weight: 300;
            .rtl_sec{
                ul{
                    li{
                        :hover{
                            opacity: .7;

                        }
                        a{
                            font-size: 16px;
                            color: #fff;
                        }
                    }
                }
                button{
                    span{
                        font-size: 14px;
                        color: #fff;
                    }
                    img{
                        width: 15px;
                        height: 16px;
                    }
                }
                // Respansive menu styles
                .Respansive_menu{
                    button{
                        background: transparent;
                        width: 25px;
                        height: 25px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .ltl_sec{
                img{
                    width: 25px;
                    height: 25px;
                }
                span{
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
    .body-sec{
        width: 100%;
        height: auto;
        background-image: url("../images/background-vactor.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 90% 120%;

        .profile_img{
            .img_container{
                position: relative;
                width: 80px;
                height: 80px;
                @include border-radios(50%);
            }
            // transfer page styles
            .camera_btn{
                position: absolute;
                right: 0;
                bottom: 0;
                button{
                    width: 25px;
                    height: 25px;
                    background-color: #2F2F2F;
                    @include border-radios(50%);

                    img{
                        margin:5px;
                        width: 13px;

                    }
                }
            }
        }
        .profile_title{
            font-weight: bold;
           p{
               display: inline-block;
               font-size: 20px;
               color: #fff;
           }
           span{
            background: $btn-bg-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
           }

        //    transfer page styles
        button{
            width: 60px;
            height: 25px;
            @include border-radios(10px);
            background-color: #2F2F2F;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            margin-left: 5px;
            padding: 0;

        }
        img{
            height: 15px;
        }
    }

        .input_sec{
            form{
                width: 858px;
                input::placeholder,textarea::placeholder{
                    color: #fff;

                }
                input,textarea,.input-group-text{
                    background-color: #2F2F2F;
                    border:none;
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                }
                input[type="text"]{
                    height: 76px;
                    &:focus {
                        border: 2px solid transparent !important;
                        border-image: linear-gradient(to right, #EE4878 100%, #7248EE 100%) !important;
                        border-image-slice: 1 !important;
                        color: #48B2EE;
                        outline: none !important;
                    }
                }
                textarea{
                    height: 157px;
                    &:focus {
                        border: 2px solid transparent !important;
                        border-image: linear-gradient(to right, #EE4878 100%, #7248EE 100%) !important;
                        border-image-slice: 1 !important;
                        color: #48B2EE;
                        outline: none !important;
                    }
                }

                input[type="number"]{
                    text-align: center;
                    font-size: 50px;
                    background-color: #2F2F2F;
                    height: 157px;
                    padding-right: 75px;
                    &:focus {
                        border: 2px solid transparent !important;
                        border-image: linear-gradient(to right, #EE4878 100%, #7248EE 100%) !important;
                        border-image-slice: 1 !important;
                        color: #48B2EE;
                        outline: none !important;
                    }
                }
                input[type="number"]::placeholder{
                    text-align: center;
                    font-size: 32px;
                }
                // Remove Arrows
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
                button{
                    width: 77px;
                    height: 45px;
                }


                // transfer page styles
                .form-label{
                    color: #fff;
                    padding-left: 10px;
                    font-size: 14px;
                }

                .balance_box{
                    width: 858px;
                    height: 157px;
                    background-color: #2F2F2F;
                    @include border-radios(5px);
                    h2{
                        font-weight: bold;
                        font-size: 85px;
                        background: $btn-bg-color;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    img{
                        height: 70px;
                        margin-right: 10px;
                    }
                }
                .donations_box{
                    width: 858px;
                    height: 268px;
                    background-color: #2F2F2F;
                    @include border-radios(5px);
                    overflow-y: scroll;
                    font-size: 18px;
                    padding: 10px;
                    p{
                        color: #fff;
                        line-height: 25px;
                    }
                    span{
                        background: $btn-bg-color;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                // scroll style ;

                /* width */
                ::-webkit-scrollbar {
                    width: 10px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    background: transparent;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #fff;
                    border-radius: 10px;
                }

                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: rgba(230, 219, 219, 0.849);
                }
            }
        }
        // tip button styles
        button img{
            width: 12px;
            margin-right: 3px;
        }
    }

    // home page style
    .page_intro{
        width: 100%;
        height: auto;
        background-image: url("../images/background-vactor.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 75% 120%;
        &_rtl{
           img{
               width: 100%;
               height: 100%;
           }
        }
        &_ltl{
            h1{
                font-size: 50px;
                color: #fff;
                font-weight: bold;
                span{
                    background: $btn-bg-color;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                   }
            }
            p{
                color:#fff;
                font-weight: 300;
                font-size: 32px;
                line-height: 38px;
            }
            button{
                width: 210px;
                height: 60px;
                @include border-radios(8px);
                span{
                    font-size: 18px;
                }
                img{
                    width: 15px;
                    vertical-align: -4px;
                    margin-right: 5px;
                }
            }

        }
    }
    .description_body{
        width: 100%;
        height: 391px;
        background-color: #1E1E1E;
        @include border-radios(32px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        color: #FFFFFF;
        text-align: center;
        img{
            margin-bottom: 20px;
        }
        &_ltl{
            p{
                padding: 0 4rem;
            }
        }
    }
    .payment_method{
        text-align: center;
        p{
            color: #fff;
            font-size: 40px;
            font-weight: bold;
        }
        button{
            width: 425px;
            height: 120px;
            @include border-radios(8px);
            font-size: 32px;
            a {
                color: #fff;
            }
        }
    }
    .team_profile{
        text-align: center;
        h2{
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
        .img_profile{
            img{
                width: 187px;
                height: auto;
                @include border-radios(50%);
            }
        }
        h6{
            font-size: 24px;
            color: #fff;
            font-weight: bold;
        }
        p{
            font-size: 20px;
            color: #fff;
            font-weight: 300;
        }
    }
    .page_outro{
        background-image: url("../images/background-vactor.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 130%;
        text-align: center;
        .quotation{
            width: auto;
            height: auto;
            margin: 0 auto;
            position: relative;
            .icon_rtl{
                position: absolute;
                right: 40px;
                top: 40px;
            }
            .icon_ltl{
                position: absolute;
                left: 40px;
                bottom: 105px;
            }
            p{
                color: #fff;
                font-size: 36px;
            }
        }
        .last_paragraph{
            p{
                color: #fff;
                font-size: 32px;
            }
        }
    }

}

footer{
    width: 100%;
    height: auto;
    background-color: #1D1D1D;

    .footer_body{
        font-weight: 300;
        .footer_logo{
            img{
                width: 25px;
                height: 25px;
            }
            span{
                font-size: 16px;
                color: #fff;
                font-weight: 500;
            }
        }
        .footer_input{
            input{
                width: 350px;
            }
            button{
              width: 50px;
              height: 50px;
              @include border-radios(5px);
              background-color: #2A2A2A;
              img{
                  width: 15px;
                }
            }
        }
        .footer_link{
            li{
                padding: 5px 0;
                color: #fff;
                a{
                    color: #fff;
                }
                :hover{
                    color: $low-hover;
                }
            }
            &_lft{
                li:first-child{
                    color: $low-hover;
                }
            }
            &_rtl{
                ul{
                    margin-top: 34px;
                }
            }
        }
        .footer_social_pages{
            img{
                width: 25px;
                height: 25px;
                cursor: pointer;
                margin: 0 15px;
            }
        }
    }

}

















@media (max-width: 576px) {
    .body-sec{
        background-size: auto !important;
    }
    .input_sec{
        form{
            button{
                width: 50px !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer_body{
        text-align: center;
        .footer_text{
            p{
                font-size: 11px !important;
            }
        }
        .footer_link_lft{
            li:first-child{
                display: none;
            }
        }
        .footer_link_rtl{
            ul{
                margin-top: 0 !important;
            }
        }
        .footer_social_pages{
            justify-content: center !important;
            margin-bottom: 20px;
            img{
                margin: 0 30px !important;
            }
        }
    }
    .description_body{
        height: auto !important;
    }
    .page_intro_ltl{
        text-align: center;
    }
}
@media (max-width: 992px) {
    .quotation{
        .icon_rtl{
            right: 0px !important;
            top: -40px !important;
        }
        .icon_ltl{
            left: 0px !important;
            bottom: -35px !important;
        }
    }

}


